.react-datepicker__day.datetime-picker__day {
    background-color: #f9fafc;
    color: rgb(11, 10, 10);
    border-radius: 0;
  }
  
  .react-datepicker__day.datetime-picker__day:hover {
    background-color: rgb(56, 62, 74);
    color: rgba(255, 255, 255, 1);
    border-radius: 0;
  }
  
  .react-datepicker__day.react-datepicker__day--selected {
    background-color: rgb(56, 62, 74) !important;
    color: rgba(255, 255, 255, 1) !important;
    border-radius: 0;
  }
  
  .datetime-picker.react-datepicker__day--keyboard-selected {
    background-color: rgb(56, 62, 74);
    color: rgba(255, 255, 255, 1);
    border-radius: 0;
  }